:root {
    --body-bg-dark : #5041a0;
    --header-bg-dark: #120f23;

    /* --header-bg-light: #120f23; */
    /* --body-bg-light : #7b68ee; */

    --color-dark: #fafafa;
}

*,
*::before,
*::after {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

body {
    min-height      : 100vh;
    color: var(--color-dark);
    background-color: var(--body-bg-dark);
}

.container {
    padding: 10px;
    max-width: 1000px;
    margin: auto 0;
}

.flex-cols{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: var(--header-bg-dark);
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;